.hello-msg {
  position: relative;
  float: right;
  font: verdana;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  margin-right: 50px;
  margin-top: 22px;
  text-align: center;
}

.topnav {
  background: #ffc871;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f4f493;
}

.topnav a.active {
  color: rgb(255, 102, 0);
  text-shadow: 2px 2px 7px #ebab4a;
}

.topnav a.profile-pointer {
  color: #ffff;
  text-shadow: 2px 2px 7px #ebab4a;
  float: right;
  position: relative;
  margin-right: 10px;
  margin-top: 7px;
}

.topnav a.profile-pointer:hover {
  background-color: #f4f493;
  border-radius: 50%;
}

.search input[type="text"] {
  width: 500px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  margin-top: 20px;
  background-color: #ffff;
}

.search input[type="text"]:hover {
  background-color: #f2f2f2;
}

.search {
  float: left;
  margin-left: 200px;
  margin-top: 1px;
}

.search button {
  height: 40px;
  width: 40px;
  background-color: #f4f493;
  color: #ffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: right;
  margin-top: 20px;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

#logo {
  width: 300px;
  height: 100%;
  overflow: hidden;
  margin-top: -6px;
}

.drop-down {
  overflow: hidden;
}

.drop-down .dropbtn {
  position: relative;
  background-color: #ffc871;
  color: white;
  float: right;
  margin-top: 15px;
  margin: 0;
  padding: 20px 20px;
  font-size: 16px;
  border: none;
}

.drop-down-content {
  min-width: 160px;
  margin-top: 2.5px;
  border-radius: 20px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-down-content a {
  border-radius: 20px;
  margin-top: 5px;
  color: black;
  padding: 4px 10px;
  display: block;
  float: none;
  text-decoration: none;
  text-align: left;
}

.drop-down-content a:hover {
  background-color: #f4f493;
}

.drop-down:hover .drop-down-content {
  display: block;
}

.menu-bar{
  overflow: hidden;
  position:static;
  margin-top: 85px;
  top: 86px;
  background: #97bedd;
  width: 100%;
  text-align: left;
}

.menu-bar ul{
  display : inline-flex;
  list-style: none;
  margin-top: unset;
  margin-bottom: unset;
}

.menu-bar ul li{
  width:200;
  padding-right : 20px;
  margin-right : 20px;
  margin : 15px 15px;
  border-right: 2px solid;
  color: white;
  font-weight: bold;
}

.location input[type="text"] {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #ffff;
}

.location input[type="text"]:hover {
  background-color: #f2f2f2;
}

.locationbtn{
  height: 20px;
  width: 15px;
  background: #97bedd;
  border:none;
}


#slideshow { 
  overflow: hidden; 
  height: 510px; 
  width: 900px; 
  margin: 0 auto; 
  border-radius:10px ;
  box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.48);
-webkit-box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.48);
} 
  
.slide { 
  color: white;
  float: left; 
  height: 510px; 
  width: 900px; 
} 
  
.slide-wrapper { 
  width: calc(900px * 4); 
  animation: slide 15s ease infinite; 
} 
  
.slide:nth-child(1) { 
  background: green; 
} 

.slide:nth-child(2) { 
  background: pink; 
} 

.slide:nth-child(3) { 
  background: #e1edbb; 
} 

.slide:nth-child(4) { 
  background: white; 
} 
  
  
  
@keyframes slide { 
  20% { 
    margin-left: 0px; 
  } 
  
  40% { 
    margin-left: calc(-900px * 1); 
  } 
  
  60% { 
    margin-left: calc(-900px * 2); 
  } 
  
  80% { 
    margin-left: calc(-900px * 3); 
  } 
}

.fixedButton{
  position: fixed;
  bottom: 10px;
  right: 0px; 
  padding: 20px;
}
.roundedFixedBtn{
height: 60px;
line-height: 60px;  
width: 60px;  
font-size: 2em;
font-weight: bold;
border-radius: 50%;
background-color: #ffc871;
color: white;
text-align: center;
cursor: pointer;
}
.roundedFixedBtn:hover{
background-color: #f4f493;
}


body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.hidden{
  display: none!important;
}

.container{
  position: relative;
  top: 120px;
  background-color: #ebab4a;
  z-index: -1;
  
}