{% extends 'main/base.html' %}
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        {% block content %}
            <!-- <table border="1" cellpadding="5" cellspacing="5">
                <th>Name</th>
                <th>Rollnumber</th>
                {%for i in data%}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.rno}}</td>
                </tr>
                {%endfor%}
            </table> -->
            <h3>This will be the homepage</h3>>
        {% endblock %}
    </body>
</html>