{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} Profile {% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{%static '/css/profile.css' %}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

</head>

<body style="background-color: #354152;">
  <div class="topnav">
    <a class="active" href="{% url 'home' %}">
      <img id="logo" src="{% static 'images/logo_final.png' %}" alt="VocalForLocal" />
    </a>
    <div class="search">
      <form action="#">
        <input type="text" placeholder=" Search..." name="search" />
        <button>
          <i class="fa fa-search" style="font-size: 18px;"> </i>
        </button>
      </form>
    </div>
    <span class="hello-msg">
      Hello, {% if user.is_authenticated %} {{request.user}} {% else %} User
      {% endif %}
    </span>
    {% if user.is_authenticated %}
    <div class="drop-down">
      <button class="dropbtn">
        <i class="far fa-user-circle" style="font-size: 40px;"> </i>
      </button>
      <div class="drop-down-content">
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    {% else %}
    <div class="drop-down">
      <button class="dropbtn">
        <i class="far fa-user-circle" style="font-size: 40px"></i>
      </button>
      <div class="drop-down-content">
        <a href="{% url 'login' %}">SignIn</a>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="menu-bar">
    <ul>
      <li>
        <div class="location">
          <!-- <form action="#">
            <input type="text" placeholder=" Location..." name="location-bar" />
            <button class="locationbtn">
              <i class="fa fa-map-marker-alt" style="font-size: 18px; padding-right: 8px; color: white"></i>
            </button>
          </form> -->
          <span style="padding-right: 15px;">
            <select class="custom-select" style="width: 200px; height: 38px;">
              <option selected>Location</option>
              <option value="1">Andhra Pradesh</option>
              <option value="2">Arunachal Pradesh</option>
              <option value="3">Assam</option>
              <option value="4">Bihar</option>
              <option value="5">Chhattisgarh</option>
              <option value="6">Goa</option>
              <option value="7">Gujarat</option>
              <option value="8">Haryana</option>
              <option value="9">Himachal Pradesh</option>
              <option value="10">Jammu & Kashmir</option>
              <option value="11">Jharkhand</option>
              <option value="12">Karnataka</option>
              <option value="13">Kerala</option>
              <option value="14">Madhya Pradesh</option>
              <option value="15">Maharashtra</option>
              <option value="16">Manipur</option>
              <option value="17">Meghalaya</option>
              <option value="18">Mizoram</option>
              <option value="19">Nagaland</option>
              <option value="20">Odisha</option>
              <option value="21">Punjab</option>
              <option value="22">Rajasthan</option>
              <option value="23">Sikkim</option>
              <option value="24">Tamil Nadu</option>
              <option value="25">Telangana</option>
              <option value="26">Tripura</option>
              <option value="27">Uttar Pradesh</option>
              <option value="28">Uttarakhand</option>
              <option value="29">West Bengal</option>
            </select>
            <button class="btn btn-outline-secondary" style="border: 1px solid white;">
              <i class="fa fa-map-marker-alt" style="color: white;"></i>
            </button>
          </span>
        </div>
      </li>
      <li>
        <i class="fa fa-list-alt" aria-hidden="true"
          style="font-size: 18px; padding-right: 8px; color: white"></i>
          <span style="padding-right: 15px;">
            <select class="custom-select" style="width: 200px; height: 38px;">
              <option selected>Category</option>
              <option value="1">Accessories</option>
              <option value="2">Art</option>
              <option value="3">Clothing</option>
              <option value="4">Electronics</option>
              <option value="5">Food Items</option>
              <option value="6">Handicraft</option>
              <option value="7">Home Decor</option>
              <option value="8">Others</option>
            </select>
          </span>
          <!-- <i class="fas fa-filter" style="font-size: 18px; padding-right: 8px; color: white"></i> -->
          <span style="padding-right: 15px;">
            <select class="custom-select" style="width: 200px; height: 38px;">
              <option selected>Shipping</option>
              <option value="1">Local</option>
              <option value="2">Span-India</option>
              <option value="3">Global</option>
            </select>
          </span>
          <button class="btn btn-outline-secondary" style="border: 1px solid ;color: white;font-weight: bold;"><i class="fas fa-filter" style="font-size: 18px; padding-right: 8px; color: white"></i>Filter</button>
      </li>
      <li style="margin-top: 20px; border: none;">
        <i class="fa fa-info-circle" style="font-size: 18px; padding-right: 2px; color: white">
        </i>
        <button class="home-about">
          <a class="active" href="{% url 'about' %}" style="text-decoration: none;">About</a>
        </button>
      </li>
    </ul>
  </div>
  {% if user.is_authenticated %}
  <div class="center">
    <div class="card">
      <div class="additional">
        <div class="user-card">
          <div class="level center">
            <h1>PROFILE</h1>
          </div>
          <div class="icon">
            <img id="profile-logo" src="{% static 'images/profile.PNG' %}" alt="profile-logo">
          </div>
        </div>
        <div class="more-info">
          <h1>EDIT</h1>
          <div class="edit-form">
            {% load crispy_forms_tags %}
            <form method="post" action="/profile/">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-lg-5 mb-1">
                  {{form.u_name|as_crispy_field}}
                </div>
                <div class="form-group col-lg-5 mb-1">
                  {{form.business_name|as_crispy_field}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-5 mb-1">
                  {{form.email|as_crispy_field}}
                </div>
                <div class="form-group col-lg-5 mb-1">
                  {{form.phone|as_crispy_field}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-5 mb-1">
                  {{form.state|as_crispy_field}}
                </div>
                <div class="form-group col-lg-5 mb-1">
                  {{form.city|as_crispy_field}}
                </div>
                <div class="form-group col-lg-5 mb-1">
                  {{form.postal_code|as_crispy_field}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-5 mb-4">
                  {{ form.address|as_crispy_field }}
                </div>
              </div>

              <button class="save-btn" type="submit" , name='save' style="border-radius: 30px;">Save</button>
            </form>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="general" style="overflow:hidden">
        <h1 style="color: #354152; text-transform: capitalize;">{{request.user}}</h1>
        <p>
          <ul style="list-style-type: none; font-size: 17px; color: #354152; font-weight: 600;">
            <li><span style="font-size: 20px; font-weight: bold;">Name:  </span>{{user_profile.name}}</li>
            <br>
            <li><span style="font-size: 20px; font-weight: bold;">Email: </span>{{user_profile.email}}</li>
            <br>
            <li><span style="font-size: 20px; font-weight: bold;">Phone:  </span>{{user_profile.phone}}</li>
            <br>
            <li><span style="font-size: 20px; font-weight: bold;">Business name:  </span>{{user_profile.business_name}}</li>
            <br>
            <li><span style="font-size: 20px; font-weight: bold;">State:  </span>{{user_profile.state}}</li>
            <br>
            <li><span style="font-size: 20px; font-weight: bold;">City:  </span>{{user_profile.city}}</li>
            <br>
            <li><span style="font-size: 20px; font-weight: bold;">Postal code:  </span>{{user_profile.postal_code}}</li>
            <br>
            <li><span style="font-size: 20px; font-weight: bold;">Address:  </span>{{user_profile.address}}</li>
          </ul>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div>
    <hr style="width: 80%; height: 0.5px; background-color: white;">
    <h2 style="font: verdana; margin-left: 50px; color: white;">POSTS</h2>
    <br>
    {% if user_posts %}
    <div class="card-container">
      {% for p in user_posts %}
      <div class="cards">
        <header class="article-header">
          <div style="width: 300px; height: 270px; margin-top: 18px; padding-right: 20px; 
               border-right: solid rgb(216, 214, 214) 2px; background-image: url({{p.imageURL}}); 
               background-position: center; background-size: cover;">
          </div>
        </header>
        <div class="author" style="color: white; margin-left: 320px; width: 350px; height: 100%; margin-top: -290px; padding: 5px;" >
          <div class="profile" style="width: 100%; height: fit-content; margin-top: 10px; font-size: 17px; font-weight: bold;">{{p.name}} <p>{{p.date_created}}</p></div>
          <hr style="width: 80%; background-color: whitesmoke;">
          <div class="info">
            <div class="caption" style="font-size: 17px; font-weight: bold;">Description: </div>
            <div class="name" style="overflow-x: hidden; display: flex; flex-direction: row;flex-wrap: wrap; font-family: Verdana, Geneva, Tahoma, sans-serif;">
              {{p.description}}
            </div>
            <button id='delete-btn'>Delete</button>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    {% else %}
      <div style="width: 900px; height: 550px;background: url('/static/images/def_post.PNG') no-repeat; margin: 1px  420px;">

      </div>
    {% endif %}
  </div>
  {% endif %}
  <div class="footer">
    <hr style="width: 95%;height: 0.5px; background-color: white;">
    <h2 style="color: white;">Footer</h2>
  </div>

</body>

</html>